<h1>{{ title }}</h1>
<ul>
  <p *ngIf="todos.length === 0">
    <small>Não possui nenhuma tarefa para hoje</small>
  </p>
  <li *ngFor="let todo of todos">
    <span>{{ todo.title }}</span>
    <div class="buttons">
      <button (click)="markAsDone(todo)" *ngIf="!todo.done">
        <span class="fas fa-check"></span>
      </button>
      <button (click)="markAsUndone(todo)" *ngIf="todo.done">
        <span class="fas fa-redo"></span>
      </button>
      <button (click)="remove(todo)"><span class="fas fa-times"></span></button>
    </div>
  </li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa: </label>
    <input
      type="text"
      placeholder="Título da tarefa"
      maxlength="60"
      formControlName="title"
    />
    <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine"
      >Esse campo deve conter entre 3 e 60 caracteres</small
    >
    <button [disabled]="form.invalid" (click)="add()">Salvar</button>
  </fieldset>
</form>
